.nav-item {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

#phone-icon{
    color: #8db600;
    font-size: 40px;
    margin-right: 20px;
    margin-top: auto;


}


