<hr style="margin-top: 20px;">
<div class="row container-fluid" id="page1">

<div class="col-md-6" id="lista">
    <p><b>-Nudimo:</b></p>
    <ol type="1">
    <li>Grupne treninge za žene - 50 KM/mj</li>
    <li>Grupne treninge za muškarce - 50 KM/mj</li>
    <li>Treninge 1 na 1 - 300 KM/mj</li>
</ol>
</div>
<div class="col-md-6" id="paragrafi">
<p><b>-Kontaktirajte nas za više informacija:</b></p>
<p><i id="phonei" class="fa fa-phone"></i> 061/545-655</p>
<p><i id="emaili" class="fa fa-envelope" aria-hidden="true"></i> info@zvijer.ba</p>
<a href="https://www.facebook.com/postanizvijerba/" target="_blank"><i style="color:black" class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>

</div>
</div>
<hr style="margin-bottom: 10px;">