
<div class="row container-fluid" id="page">
<div class="col-md-6">
<div class="text-center" id="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1580.096650739249!2d18.365874178490085!3d43.85455515949591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe7c432307b82b119!2sKettlebell%20klub%20ZVIJER!5e0!3m2!1shr!2sba!4v1645727649045!5m2!1shr!2sba" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</div>
<div class="col-md-6">
  <div id="textdiv" class="text-center">
<p id="textp">Pronađite nas na lokaciji označenoj na mapi</p>
<p id="arrowp"><i class="fa fa-map-marker" aria-hidden="true"></i></p>
</div>

</div>

</div>